docs/n8n-lead-capture.json
{
  "name": "PricePage Chatbot Lead Capture",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pricepage-chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-lead",
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "lead",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "router",
      "name": "Is Lead?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gemini-2.0-flash",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.body.message }}"
            }
          ]
        },
        "options": {
          "systemMessage": "You are Pawstrophe Digital assistant. Only answer based on approved pricing. Do not generate custom pricing. Do not promise features not listed. Pricing: Starter RM2,500 (single page, free 3 months support), Growth RM4,800 (multi-page, free 3 months support), Subscription Single RM280/month (min 12 months), Subscription Multi RM450/month (min 12 months), Maintenance RM200-350/month."
        }
      },
      "id": "gemini-chat",
      "name": "Gemini Chat",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        660,
        180
      ],
      "credentials": {
        "googleGeminiApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ reply: $json.output }) }}",
        "options": {}
      },
      "id": "respond-chat",
      "name": "Respond Chat",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        880,
        180
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ new Date().toISOString() }}",
            "Name": "={{ $json.body.name }}",
            "Company": "={{ $json.body.company }}",
            "Phone": "={{ $json.body.phone }}",
            "Email": "={{ $json.body.email }}",
            "Project": "={{ $json.body.project }}",
            "Budget": "={{ $json.body.budget }}",
            "Timeline": "={{ $json.body.timeline }}",
            "Source": "chatbot"
          }
        },
        "options": {}
      },
      "id": "sheets-append",
      "name": "Append to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        660,
        420
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "REPLACE_WITH_CHAT_ID",
        "text": "=🔥 *New Lead from PricePage Chatbot*\n\n👤 *Name:* {{ $json.body.name }}\n🏢 *Company:* {{ $json.body.company }}\n📱 *Phone:* {{ $json.body.phone }}\n📧 *Email:* {{ $json.body.email }}\n📋 *Project:* {{ $json.body.project }}\n💰 *Budget:* {{ $json.body.budget }}\n⏰ *Timeline:* {{ $json.body.timeline }}\n📅 *Date:* {{ new Date().toLocaleString() }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-notify",
      "name": "Telegram Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        420
      ],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Lead captured' }) }}",
        "options": {}
      },
      "id": "respond-lead",
      "name": "Respond Lead OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1100,
        420
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Is Lead?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Lead?": {
      "main": [
        [
          {
            "node": "Append to Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gemini Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat": {
      "main": [
        [
          {
            "node": "Respond Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Google Sheets": {
      "main": [
        [
          {
            "node": "Telegram Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Notification": {
      "main": [
        [
          {
            "node": "Respond Lead OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "PricePage",
      "id": "1"
    },
    {
      "name": "Lead Capture",
      "id": "2"
    }
  ],
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": false
  }
}